<html xmlns:th="http://www.thymeleaf.org">

<body>
	<table style="width: 70%;border: 1px solid #ddd;background-image:url('https://s3.amazonaws.com/oodles-blogs/blog-images/82724af4-ade2-48c9-9be2-f23bfd463de6.png');background-repeat: no-repeat;background-position: 100% 10%
	;background-size:180px 150px">
		<tbody>
			<tr>
				<td>
					<div class="row" style="padding: 0 2%">
						<div class="col-md-6" style="float:left;">
							<img src="\image\istockphoto-1272554142-1024x1024.jpg"
								style="width: 160px;padding-left:10px">

						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td style="color: #333; font-size:13px; padding: 21px 10px 12px 10px;padding-left: 30px;">
					<p>Hi <strong><span th:text="${userName}" /></strong></p>
				</td>
			</tr>
			<tr>
                <td style="padding-top: 20px;padding-left: 30px;color:#707070">Thanks</td>
            </tr>
		</tbody>
	</table>
</body>
</html>

